/* ElemenTable */
.et-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.et-table {
    border-collapse:collapse;
    width: 100%;
    text-align: left;
}
.et-table-head tr {
    border-bottom: 1px solid black;
}
.et-table-head th {
    user-select: none;
    padding: 10px;
}
.et-table-head th:hover {
    background-color: lightgrey;
}
.et-table-head th > span {
    display: flex;
    align-items: center;
}
.et-table-body td {
    padding: 5px 10px 5px 10px;
}
.et-table-body tr:hover {
    background-color: lightgrey;
}
.arrow-down {
    margin-left: 20px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid black;
}
.arrow-up {
    margin-left: 20px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid black;
}
.arrow-hidden {
    opacity: 0;
    margin-left: 20px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
/* ET-SearchBar */
.et-searchbar {
    padding: 5px;
    width: 25%;
}
/* ET-FilterSection */
.et-filter-section {
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.et-filter-section span {
    display: flex;
    user-select: none;
}
.et-filter-section span:hover {
    cursor: pointer;
}
/* ET-Pagination */
.et-pagination {
    display: flex;
    justify-content: space-between;
}
.et-pagination-section {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}
.et-pagination-section > li.paging-item {
    cursor: pointer;
    user-select: none;
    width: 20%;
    text-align: center;
    padding: 10px 0 10px 0;
}
.et-pagination-section > li.paging-item:hover {
    background-color: lightgrey;
    border-radius: 5px;
}